*{

margin: 0;
padding: 0;


}
.cabacalho {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 25px;
   background-color: #00eeff;

}
.cartao {
   width: 260px;
   height: 20px;
}